body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Estilos para el Hero Section */
.hero-section {
    background: linear-gradient(rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.8), rgba(44, 83, 100, 0.8)), 
                url('/img/backround.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    min-height: 500px;
}

/* Animación sutil para las tarjetas de la galería */
.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-top: 4px solid #b48c36; /* Borde superior cambiado a dorado */
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

/* Personalización del formulario de contacto */
.custom-form input:focus, .custom-form textarea:focus, .form-control:focus {
    border-color: #b48c36 !important; /* Borde dorado al hacer clic */
    box-shadow: 0 0 0 0.25rem rgba(180, 140, 54, 0.25) !important; /* Sombra dorada al hacer clic */
}

/* Uniformar tamaño de las fotos en las tarjetas */
.card-img-top {
    height: 400px; 
    object-fit: cover; 
    object-position: top; 
}

/* =========================================
   CAMBIO DEL COLOR AZUL (PRIMARY) BOOTSTRAP
   ========================================= */

/* 1. Textos e íconos (.text-primary) */
.text-primary {
    color: #b48c36 !important; 
}

/* 2. Botones sólidos (.btn-primary) */
.btn-primary {
    background-color: #b48c36 !important;
    border-color: #b48c36 !important;
}
.btn-primary:hover {
    background-color: #927026 !important; /* Un tono ligeramente más oscuro al pasar el mouse */
    border-color: #927026 !important;
}

/* 3. Botones con contorno (.btn-outline-primary) */
.btn-outline-primary {
    color: #b48c36 !important;
    border-color: #b48c36 !important;
}
.btn-outline-primary:hover {
    background-color: #b48c36 !important;
    color: #ffffff !important;
}