body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.hero-section {
    background: linear-gradient(rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.8), rgba(44, 83, 100, 0.8)), 
                url('/img/backround.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    min-height: 500px;
}


.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-top: 4px solid #b48c36; 
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}


.custom-form input:focus, .custom-form textarea:focus, .form-control:focus {
    border-color: #b48c36 !important; 
    box-shadow: 0 0 0 0.25rem rgba(180, 140, 54, 0.25) !important; 
}


.card-img-top {
    height: 400px; 
    object-fit: cover; 
    object-position: top; 
}


.text-primary {
    color: #b48c36 !important; 
}


.btn-primary {
    background-color: #b48c36 !important;
    border-color: #b48c36 !important;
}
.btn-primary:hover {
    background-color: #927026 !important; 
    border-color: #927026 !important;
}


.btn-outline-primary {
    color: #b48c36 !important;
    border-color: #b48c36 !important;
}
.btn-outline-primary:hover {
    background-color: #b48c36 !important;
    color: #ffffff !important;
}